body { 
      background-image: url(background.jpg);
      background-repeat: no-repeat;
      background-position: center;
      } 

<img id="fondo" src="imagen.jpg" />

#fondo{
      
      
      }

